@import "@fontsource/inter/400.css";
@import "@fontsource/inter/500.css";
@import "@fontsource/inter/600.css";

@import "@fontsource/plus-jakarta-sans/500.css";
@import "@fontsource/plus-jakarta-sans/600.css";
@import "@fontsource/plus-jakarta-sans/700.css";

@import "tailwindcss";

@theme {
  --font-body: "Inter", system-ui, sans-serif;
  --font-heading: "Plus Jakarta Sans", system-ui, sans-serif;

  /* MAIN COLORS */
  --color-primary: #1d70b8;
  --color-secondary: #4a55a2;
  --color-accent: #312e81;

  --color-text: #0f172a;
  /* --width-container:  */
}

@layer base {
  body {
    @apply antialiased;
    font-family: var(--font-body);
    color: var(--color-text);
    background-color: #f8fafc;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--font-heading);
  }
}
