@import "@fontsource/inter/400.css";
@import "@fontsource/inter/500.css";
@import "@fontsource/inter/600.css";

@import "@fontsource/plus-jakarta-sans/500.css";
@import "@fontsource/plus-jakarta-sans/600.css";
@import "@fontsource/plus-jakarta-sans/700.css";

@import "tailwindcss";

@theme {
  --font-body: "Inter", system-ui, sans-serif;
  --font-heading: "Plus Jakarta Sans", system-ui, sans-serif;
  /* 500 chai main */
  --color-primary: #1d70b8;
  --color-primary-50: #f0f7ff;
  --color-primary-100: #e0effe;
  --color-primary-200: #bae0fd;
  --color-primary-300: #7cc8fa;
  --color-primary-400: #36acf4;
  --color-primary-500: #1d70b8;
  --color-primary-600: #0b6bcb;
  --color-primary-700: #0a56a3;
  --color-primary-800: #0d4a86;
  --color-primary-900: #103f6f;
  --color-primary-950: #0b284a;

  /* SECONDARY COLOR  */
  --color-secondary: #4a55a2;

  /* ACCENT COLOR  */

  --color-accent: #312e81;

  /* TEXT COLOR  */
  --color-text: #0f172a;

  --color-muted: #64748b;

  /* CONTAINER WIDHT  */

  --width-container: 80rem;

  /* LOGO SCROLL ANIMATION */
  @keyframes logo-scroll {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-50%);
    }
  }
}

.animate-logo-scroll {
  animation: logo-scroll 60s linear infinite;
}
.pause-on-hover:hover .animate-logo-scroll {
  animation-play-state: paused;
}

@layer base {
  body {
    @apply antialiased;
    font-family: var(--font-body);
    color: var(--color-text);
    background-color: #f8fafc;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--font-heading);
  }
}
